<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <% items.each do |item| %>
    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= item.name %></h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= item.price %> eur.</p>
      <%= button_to '+', item_cart_items_path(item), method: :post, class: "mt-4 focus:outline-none text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
    </div>
  <% end %>
</div>