<form action="#" class="mx-auto max-w-screen-xl px-4">
  <div class="mx-auto max-w-3xl">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Commande :</h2>

    <div class="mt-6 sm:mt-8">
      <div class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800">
        <table class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed">
          <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
            <tr>
              <td class="whitespace-nowrap py-4 md:w-[250px]">
                <div class="flex items-center gap-4">
                  <a href="#" class="hover:underline">Apple iMac 27”</a>
                </div>
              </td>

              <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x1</td>

              <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">$1,499</td>
            </tr>
            <tr>
              <td class="whitespace-nowrap py-4 md:w-[250px]">
                <div class="flex items-center gap-4">
                  <a href="#" class="hover:underline">Apple iMac 27”</a>
                </div>
              </td>

              <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x1</td>

              <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">$1,499</td>
            </tr>
            <tr>
              <td class="whitespace-nowrap py-4 md:w-[250px]">
                <div class="flex items-center gap-4">
                  <a href="#" class="hover:underline">Apple iMac 27”</a>
                </div>
              </td>

              <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x1</td>

              <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">$1,499</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-4 space-y-6">
        <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Récapitulatif</h4>

        <div class="space-y-4">
          <div class="space-y-2">
            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Prix brut</dt>
              <dd class="text-base font-medium text-gray-900 dark:text-white">$6,592.00</dd>
            </dl>

            <dl class="flex items-center justify-between gap-4">
              <dt class="text-gray-500 dark:text-gray-400">Promotion</dt>
              <dd class="text-base font-medium text-green-500">-$299.00</dd>
            </dl>
          </div>

          <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
            <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
            <dd class="text-lg font-bold text-gray-900 dark:text-white">$7,191.00</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</form>